// Colors
$light-gray: #8C8C8C;
$light-black: #555555;
$btn-brown: #998675;
$white: #FFFFFF;
$dark-brown: #362F2D;
$brown-orange: #C7B299;
$light-orange: #FBFAF8;

//fonts

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

//img

$features-list-img: url(/assets/img/01.jpg);
$company-logo: url(../assets/img/logos.png);
$partners-bg: url(/assets/img/partners-bg.jpg);