.achivement-bg {
    background: linear-gradient(to right,#211B19 0%, #4E3427 100%);
}

.achivement-subtitle {
    font-size: 14px;
    font-family: $montserrat;
    font-weight: 100;
}

.achivement-title {
    font-size: 48px;
    font-family: $montserrat;
    font-weight: 100;
}

.achievement-hr {
    width: 30px;
    background-color: $white;
}